In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('LeagueTable.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 11 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Pos                          20 non-null     int64
 1   Team                         20 non-null     object
 2   Pld                          20 non-null     int64
 3   W                            20 non-null     int64
 4   D                            20 non-null     int64
 5   L                            20 non-null     int64
 6   GF                           20 non-null     int64
 7   GA                           20 non-null     int64
 8   GD                           20 non-null     object
 9   Pts                          20 non-null     int64
 10  Qualification or relegation  11 non-null     object
dtypes: int64(8), object(3)
memory usage: 1.8+ KB

In [15]:
df['GD'] = df['GD'].str.replace('âˆ’', '-', regex= False)
df['GD'] = df['GD'].astype(int)

In [18]:
df["Qualification or relegation"] = df["Qualification or relegation"].fillna("No qualification")

In [20]:
# Which teams have scored more than 60 goals but have less than 60 points?

In [21]:
df[(df['GF'] > 60) & (df['Pts'] > 60)][['Team', 'GF', 'Pts']]

                     Team  GF  Pts
0     Manchester City (C)  94   89
1                 Arsenal  88   84
3        Newcastle United  68   71
4               Liverpool  75   67
5  Brighton & Hove Albion  72   62

In [22]:
# Among the teams that did not qualify, which team has the best goal difference (GD)?

In [27]:
No_qualification = df[df['Qualification or relegation'] == 'No qualification']
No_qualification.sort_values('GD', ascending= False).head(1)[['Team', 'GD']]

        Team  GD
8  Brentford  12

In [28]:
# Create a new column called Win/Loss Ratio,
# which is the number of wins (W) divided by the number of losses (L).
# Then sort the teams by this ratio and display the top 3 teams.

In [29]:
dfp = df.copy()
dfp['Win/Loss Ratio'] = dfp['W'] / dfp['L']
dfp = dfp.sort_values(by= 'Win/Loss Ratio', ascending= False)
dfp.head(3)[['Team', 'W', 'L', 'Win/Loss Ratio']]

                  Team   W  L  Win/Loss Ratio
0  Manchester City (C)  28  5        5.600000
1              Arsenal  26  6        4.333333
3     Newcastle United  19  5        3.800000

In [30]:
# Which teams have the same number of draws (D) and wins (W)?

In [31]:
df[df['D'] == df['W']][['Team', 'W', 'D']]

       Team   W   D
11  Chelsea  11  11

In [32]:
# Of the teams with goals conceded (GA) greater than 65, only show those that are not relegated.

In [40]:
dfp = df[(df['GA'] > 65) & (df['Qualification or relegation'] =='Relegation to EFL Championship')]
dfp[['Team', 'GA', 'Qualification or relegation']]

                  Team  GA     Qualification or relegation
17  Leicester City (R)  68  Relegation to EFL Championship
18    Leeds United (R)  78  Relegation to EFL Championship
19     Southampton (R)  73  Relegation to EFL Championship

In [39]:
# Filter teams whose names start with the letter B and calculate their average points (Pts).

In [45]:
df[df['Team'].str.startswith('B')]['Pts'].mean()

53.333333333333336

In [46]:
# Those whose wins (W) are less than 10 but are not in the relegation group.

In [49]:
df[(df['W'] < 10) & (df['Qualification or relegation'] == 'Relegation to EFL Championship')]

,Pos,Team,Pld,W,D,L,GF,GA,GD,Pts,Qualification or relegation
17,18,Leicester City (R),38,9,7,22,51,68,-17,34,Relegation to EFL Championship
18,19,Leeds United (R),38,7,10,21,48,78,-30,31,Relegation to EFL Championship
19,20,Southampton (R),38,6,7,25,36,73,-37,25,Relegation to EFL Championship

In [50]:
# Which team has had the most draws (D)?

In [51]:
df.sort_values(by= 'D', ascending= False).head(1)[['Team', 'D']]

               Team   D
3  Newcastle United  14

In [60]:
# Calculate the goals scored to wins ratio (i.e. GF/W) for Arsenal and Manchester City.

In [59]:
dfp = df.copy()
dfp = dfp.set_index('Team')
MC = dfp.loc['Manchester City (C)']['GF'] / dfp.loc['Manchester City (C)']['W']
ARC = dfp.loc['Arsenal']['GF'] / dfp.loc['Arsenal']['W']

print(f'Manchester City (C) W / GF  --> {MC}')
print(f'            Arsenal W / GF  --> {ARC}')

Manchester City (C) W / GF  --> 3.357142857142857
            Arsenal W / GF  --> 3.3846153846153846